name: Daily Data Refresh
on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:
jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install pandas sqlalchemy psycopg2-binary sqlalchemy-cockroachdb certifi usaddress requests
      - name: Run ETL
        env:
          DB_CONNECTION_STRING: ${{ secrets.DB_CONNECTION_STRING }}
        run: python -u etl.py
      - name: Run Mapper
        env:
          DB_CONNECTION_STRING: ${{ secrets.DB_CONNECTION_STRING }}
          MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
        run: python -u map_gen.py
      - uses: actions/upload-artifact@v4
        with:
          name: Booksy_License_Database
          path: Booksy_License_Database.csv
          retention-days: 5
