name: Daily Data Refresh
on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      # Install the new keplergl library
      - run: pip install -r requirements.txt
      
      - name: Run Florida Pipeline
        env:
          DB_CONNECTION_STRING: ${{ secrets.DB_CONNECTION_STRING }}
          MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
        run: |
          python -u etl_fl.py
          python -u map_gen_fl.py
          
      - name: Run Texas Pipeline
        env:
          DB_CONNECTION_STRING: ${{ secrets.DB_CONNECTION_STRING }}
          MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
        run: |
          python -u etl_tx.py
          python -u map_gen_tx.py

      # Run the new Map Generator
      - name: Generate Interactive Map
        run: python generate_map.py
          
      # Deploy the HTML file to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          keep_files: true
          destination_dir: ./  # Puts index.html at the root URL
          
      - uses: actions/upload-artifact@v4
        with:
          name: Booksy_Interactive_Map
          path: index.html
          retention-days: 5
